main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

aside {
    /* Styles for the sidebar */
}

article {
    /* Styles for the main content */
}
/* my-template/public/main.css */
.column {
    width: calc(33.33% - 1rem); /* Adjust the width as needed */
    float: left;
    margin-right: 1rem; /* Add horizontal spacing between columns */
    margin-bottom: 3rem; /* Add vertical spacing between columns */
}

/* Style the flex container */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the top */
    margin: 20px;
}

/* Style the flex columns */
.flex-column {
    flex: 1;
    text-align: center;
    padding: 20px;
    
}
    

.custom-link {
    color: #00378a; /* Set link color to black */
    font-weight: bold; /* Make the link text bold */
    font-size: large;
    text-decoration: none; /* Remove underlining from the link text */
}


/* Apply your custom-link styles here for the new section */
.custom-link-mini {
    color: blue; 
     font-weight: lighter; 
    text-decoration: underline;  
}


/* Style the new flex container */
.new-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

/* Style the new flex columns */
.new-flex-column {
    flex: 1;
    text-align: center;
    padding: 20px;

}

/* Style the new column images */
.new-flex-column img {
    max-width: 80%;
}

/* Style the new column lists */
.new-flex-column ul {
    list-style-type: none;
    padding: 0;
}

/* Style the new column list items */
.new-flex-column ul li {
    margin: 5px 0;
}

/* Apply your custom-link styles here for the new section */
.new-custom-link {
    color: blue; /* Example link color */
    font-weight: normal; /* Example font weight */
    text-decoration: underline; /* Example text decoration */
}

/* Style the column container for the new section */
.column-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

/* Style the columns for the new section */
.column {
    flex: 1;
    text-align: left; /* Align text to the left in columns */
    padding: 20px;
    
}

/* Style the column lists for the new section */
.column ul {
    list-style-type: none;
    padding: 0;
}

/* Style the column list items for the new section */
.column ul li {
    margin: 5px 0;
}
